/* Navbar CSS */

.Navbar {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  width: 100%;
  padding: 1rem 2rem;
  background: var(--content-color);
  box-shadow: var(--shadow-color);
  cursor: pointer;
}

/* MainContent CSS */

.MainContent {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 95%;
  margin: 1rem auto;
  gap: 1rem;
}

.MainContent .leftContent, .MainContent .rightContent {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: var(--content-color);
  padding: 1rem 2rem;
  gap: 1rem;
  border-radius: 1rem;
}

/* Left Content CSS */

.MainContent .leftContent {
  width: 40%;
}

.MainContent .leftContent .filters {
  display: flex; 
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  width: 100%;
}

.MainContent .leftContent .uploadFile {
  padding: 1.5rem;
  border: 2px dashed var(--border-color);
  border-radius: 10px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

/* Right Content CSS */

.MainContent .rightContent {
  width: 59%;
}

.MainContent .rightContent .blankScreen {
  padding: 1.5rem;
  border: 2px dashed var(--border-color);
  border-radius: 10px;
  width: 100%;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
}

.MainContent .rightContent .pillLayout {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.MainContent .rightContent .pillLayout .chip {
  padding: 1rem 0.5rem;
  font-size: 12px;
  color: #fff !important;
  font-weight: bold;
}

.MainContent .rightContent .pillLayout .chip .chip-icon {
  color: #fff
}

.MainContent .rightContent .pillLayout .primary {  background-color: var(--primary-color); } 
.MainContent .rightContent .pillLayout .info {  background-color: var(--info-color) } 
.MainContent .rightContent .pillLayout .warning {  background-color: var(--warning-color) } 
.MainContent .rightContent .pillLayout .success {  background-color: var(--success-color) } 
.MainContent .rightContent .pillLayout .failure {  background-color: var(--failure-color) } 
.MainContent .rightContent .pillLayout .dark { background-color: var(--dark-color) }

/* Media Queries */

@media screen and (max-width: 1200px) {
  .MainContent { flex-direction: column; gap: 2rem; }
  .MainContent .leftContent { width: 100%; }
  .MainContent .rightContent { width: 100%; }

  .css-1xhypcz-MuiStack-root, .css-1gtlbg0 { flex-direction: row !important; width: 100% !important; gap: 1rem !important; }
  .css-1xhypcz-MuiStack-root>.MuiTextField-root, .css-i44wyl { width: 100% !important; }
  .css-1xhypcz-MuiStack-root>:not(style)+:not(style), .css-1gtlbg0 > :not(style) + :not(style) { margin: 0 !important; } 
}

@media screen and (max-width: 900px) {
  .modalComponent { width: 80% !important; } 
}

@media screen and (max-width: 600px) {
  .modalContent .decodedText h2 { font-size: 1rem; }
  .countCardContainer .countCard .left { font-size: 1rem !important; }
}

@media screen and (max-width: 510px){
  .MainContent .leftContent .uploadFile { flex-direction: column;}
  .css-1xhypcz-MuiStack-root { flex-direction: column !important; }
  .countCardContainer .countCard { padding: 0.5rem 1rem !important; }
}